<script id="template" type="text/x-kendo-template">
    <div class="toolbar">
    </div>    
</script>
<script src="~/Scripts/Library/BookGrid.js"></script>
<button class="btn btn-primary post-btn" onclick="addPost()">Add new Post</button>
<div id="grid"></div>
