<div id="grid"></div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/kendo.all.min.js"></script>
<script src="~/Scripts/Library/BookGrid.js"></script>
