@model Library.Data.Book
@{
    ViewBag.Title = "Add Book";
}

<h2>Add book</h2>

<form id="addForm" name="addForm" class="form-horizontal" action="@Url.Action("AddBook", "Book")" method="post" onsubmit="return validateBookAddForm()">
    <div class="control-group">
        <label class="control-label">Create new book:</label>
        <div class="controls">

            Book name:<br>
            <input type="text" name="Name" ><br>

            Author:<br>
            <input type="text" name="Author"><br />

            Publisher:<br>
            <input type="text" name="Publisher" ><br>

            Year of publishing:<br>
            <input type="date" name="YearOfPublishing" min="1700-01-01" max="2017-12-31"  required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"><br />

            Include to the Page:<br>
            <input type="checkbox" name="IncludeToPage" id="check" ><br>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Save book" />
        </div>
    </div>
</form>
<script src="~/Scripts/Library/AddFormValidator.js"></script>

