<script id="template" type="text/x-kendo-template"></script>
<script src="~/Scripts/Library/Books.js"></script>
<div id="BooksGrid"></div>
<link href="~/Content/Book/Book.css" rel="stylesheet" />
<fieldset>
    <legend> Would you like to upload/download file?</legend>

    <button id="uploadButton" class="uploadButton" onclick="location.href='@Url.Action("Upload","Book")'">Upload file</button>

    <form id="typeForm" class="ridge">
        <div class="round">

            <input type="radio" id="XMLFile"
                   name="filetype" value="xml" checked>
            <label for="XMLFile">File.xml</label>
            <br />
            <input type="radio" id="TXTFile"
                   name="filetype" value="txt">
            <label for="TXTFile">File.txt</label>
            <p>
                <button id="submitButton" class="submitButton" type="submit">Save file</button>
            </p>
        </div>
    </form>
</fieldset>