@model Library.Data.Book
@{
    ViewBag.Title = "Add Book";
}

<h2>Add book</h2>
<form class="form-horizontal" action="@Url.Action("AddBook", "MyLibrary")" method="post">
    <div class="control-group">
        <div class="controls">
            Book name:<br>
            <input type="text" name="Name"><br>
            Author:<br>
            <input type="text" name="Author"><br />
            Publisher:<br>
            <input type="text" name="Publisher"><br>
            Year of publishing:<br>
            <input type="text" name="YearOfPublishing"><br />
            Include to the Page:<br>
            <input type="checkbox" name="IncludeToPage" ><br>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>
</form>