<script id="template" type="text/x-kendo-template">  
</script>
<script src="~/Scripts/Library/BookGrid.js"></script>
<div id="grid"></div>
<button onclick="Test()">Click</button>
<button onclick="Test1()">Click1</button>
<a href="/MyLibrary/GetXmlFile">click</a>