<script id="template" type="text/x-kendo-template">  
</script>
<script src="~/Scripts/Library/BookGrid.js"></script>
<div id="grid"></div>


<div data-role="popup" id="myPopup">
    <form id="typeForm">
        <p>Please select your preferred file type:</p>
        <div>
            <input type="radio" id="XMLFile"
                   name="filetype" value="xml" checked>
            <label for="XMLFile">File.xml</label>

            <input type="radio" id="TXTFile"
                   name="filetype" value="txt">
            <label for="TXTFile">File.txt</label>

        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>