<script id="template" type="text/x-kendo-template"></script>
<script src="~/Scripts/Library/MainGrid.js"></script>
<link href="~/Content/Library/MainPage.css" rel="stylesheet" />

<div id="grid"></div>