.round {
    border: 2px solid lightgrey;
    border-radius: 8px;
    margin-left: 10px;
    clear: both;
    float: left;
    padding: 15px;
}

.submitButton {
    margin-top: 10px;
}

fieldset {
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    width: 50%;
}

legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    float: left;
}
#addButton {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;

}

.uploadButton {
    margin-top: 10px;
    margin-left: 30px;
}

.ridge {
    margin-top: 10px;
    margin-left: 15px;
}

#details-container {
    padding: 10px;
}

#details-container h2 {
        margin: 0;
    }

#details-container em {
        color: #8c8c8c;
    }

#details-container dt {
        margin: 0;
        display: inline;
    }
