.round {
    border: 2px solid lightgrey;
    border-radius: 8px;
    margin-left: 50px;
    clear: both;
    float: left;
    padding: 15px;
}
.submitButton {
    margin-top: 10px;
    margin-left: 10px;
}
/*.ridge {
    border-style: ridge;
    border-color: grey;
    margin-top: 10px;
    margin: auto;
    width: 50%;
}*/
fieldset {

    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    width:50%;
}
legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}