@model Library.Data.Periodical
@{
    ViewBag.Title = "Add periodical";
}

<h2>Add Periodical</h2>

<form id="addForm" name="addForm" class="form-horizontal" action="@Url.Action("AddPeriodical", "Periodical")" method="post" onsubmit="return validateAddForm()">
    <div class="control-group">
        <label class="control-label">Create new periodical:</label>
        <div class="controls">

            Periodical name:<br>
            <input type="text" name="Name"><br>

            Publisher:<br>
            <input type="text" name="Publisher"><br>

            Date of publishing:<br>
            <input type="date" name="YearOfPublishing" min="1700-01-01" max="@DateTime.Now.ToString("yyyy-mm-dd")" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"><br />

            Include to the Page:<br>
            <input type="checkbox" name="IncludeToPage" id="check"><br>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Save periodical" />
        </div>
    </div>
</form>
<script src="~/Scripts/LibraryAdmin/AddFormValidator.js"></script>
