<script id="template" type="text/x-kendo-template">
    <div id="details-container">
        <h2>#= Name # #= Publisher #</h2>
        <em>#= LibraryType ==0 ? Author : "" #</em>
        <dl>
            <dt>Library Type: #= LibraryType ==0 ? "Book" : ( LibraryType == 1? "Newspaper" :  "Periodical")  # </dt>
            <dt>Year: #= kendo.toString(YearOfPublishing, "MM/dd/yyyy") #</dt>
        </dl>
        <input type="hidden" value="#=Id#" id="objectId">
        @if (User.IsInRole("Admin"))
        {
            <input type="button" id="destroyButton" value="Delete" onclick="destroyPeriodical()">
            <input type="button" id="editButton" value="Edit" onclick="editPeriodical()">
        }
    </div>
</script>

<script src="~/Scripts/LibraryAdmin/Periodical.js"></script>

@if (User.IsInRole("Admin"))
{
    <button id="addButton" onclick="location.href='@Url.Action("AddPeriodical", "Periodical")'">Add new record</button>
}

<div id="details"></div>
<div id="PeriodicalsGrid"></div>

<link href="~/Content/Book/Book.css" rel="stylesheet" />

<fieldset>
    <legend>To upload/download file:</legend>

    <button id="uploadButton" class="uploadButton" onclick="location.href='@Url.Action("UploadPeriodical","Periodical")'">Upload file</button>
    @if (User.IsInRole("Admin"))
    {
        <form id="typeForm" class="ridge">
            <div class="round">

                <input type="radio" id="XMLFile"
                       name="filetype" value="xml" checked>
                <label for="XMLFile">File.xml</label>
                <br />
                <input type="radio" id="TXTFile"
                       name="filetype" value="txt">
                <label for="TXTFile">File.txt</label>
                <p>
                    <button id="submitButton" class="submitButton" type="submit">Save file</button>
                </p>
            </div>
        </form>
    }
</fieldset>